* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
  padding: 0;
}

.title {
  background-color: #d8d8d8;
  border-bottom: 1.5px solid darkgray;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.title p {
  font-size: 27px;
  margin: 0;
}

.login {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.login a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 1.5px solid #d8d8d8;
  padding: 5px 0;
  border-radius: 5px;
  width: 300px;
}

.login img {
  width: 32px;
  position: relative;
  left: 90px;
}

.search {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.search_field {
  font-size: 20px;
  border: 1.5px solid #d8d8d8;
  padding: 10px 0;
  border-radius: 5px;
  width: 350px;
  text-align: center;
  color: black;
}

.search_submit {
  width: 24px;
  position: relative;
  right: 40px;
}

.artists {
  display: flex;
  margin-top: 75px;
  flex-wrap: wrap;
  padding: 0 2%;
  justify-content: center;
}

.artist {
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  border: 1.5px solid darkgray;
  min-height: 525px;
  flex: 0 1 23%;
}

.artist_image {
  min-width: 350px;
}

.artist_image img {
  width: 100%;
  border-bottom: 1.5px solid darkgray;
}

.artist_details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  flex: 1;
}

.artist_details a {
  font-size: 18px;
}

.artist_details p {
  color: gray;
  margin-top: 10px;
  font-size: 16px;
}

.rating_stars {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  padding-top: 20px;
}

.rating_star {
  width: 32px;
}

.albums_title {
  padding-left: 40px;
}

.albums_title h1 {
  font-weight: 400;
  margin-bottom: 0;
}

.albums_title h2 {
  color: darkgray;
  font-weight: 400;
  margin-top: 10px;
}

.albums {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 2%;
  justify-content: center;
}

.album {
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  border: 1.5px solid darkgray;
  min-height: 525px;
  flex: 0 1 23%;
}

.album_image {
  min-width: 350px;
}

.album_image img {
  width: 100%;
  border-bottom: 1.5px solid darkgray;
}

.album_details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
}

.album_artists p {
  display: inline-block;
}

.album_artists p:after {
  content: ", ";
  white-space: pre;
}

.album_artists p:last-of-type:after {
  content: "";
}

.album_details a {
  font-size: 18px;
}

.album_details p {
  color: gray;
  margin-top: 10px;
  font-size: 16px;
}

.album_details_2 {
  color: gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  flex: 1;
  justify-content: flex-end;
}

.album_peview {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8d8d8;
  border-top: 1.5px solid darkgray;
  color: gray;
}

@media (max-width: 878px) {
  .albums,
  .artists {
    padding: 0 10%;
  }
}

.error {
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}

.main > div:first-of-type {
  position: absolute !important;
}

.loading_bar {
  background-color: #1ed760 !important;
}
